.categoriesButton {
  height: 233px;
  color: white;
  font-weight: bold !important;
  font-size: larger;
  background-color: transparent !important;
  overflow: hidden;
  transform: all 0.5s;
}

.categoriesButtonBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(30%);
  transition: transform 0.5s, filter 1s;
}

.categoryGrid {
  padding: none;
  margin: 0;
}

.categoryGrid:hover .categoriesButtonBackground,
.categoryGrid:focus .categoriesButtonBackground {
  transform: scale(1.2);
  filter: brightness(100%);
}

.categoryGrid:hover .categoriesButton {
  background-color: transparent;
  font-size: 0;
}
