.categoriesButton {
  height: 150px;
  color: white;
  font-weight: bold;
  font-size: larger;
  background-color: transparent;
  overflow: hidden;
  transform: all 0.5s;
}

.categoriesButton::before {
  content: "";
  border-radius: inherit;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/tshirt.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(30%);
  transition: transform 0.5s, filter 1s;
}

.categoryGrid {
  padding: none;
  margin: 0;
}

.categoryGrid:hover .categoriesButton::before,
.categoryGrid:focus .categoriesButton::before {
  transform: scale(1.2);
  filter: brightness(100%);
}

.categoryGrid:hover .categoriesButton {
  background-color: transparent;
  font-size: 0;
}
